* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background: rgb(198, 201, 218);
}

.container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background: rgb(8, 16, 20, 0.8); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 5%;
    background: rgb(40, 144, 5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    border-bottom: 2px solid transparent;
    transition: .5s;
}

.navbar a:hover,
.navbar a.active{
    border-color: #fff;
}

.home{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 50px;
    padding: 50px 5% 0;
    color: #fff;
}

.home-detail h1{
    font-size: 55px;
    line-height: 1;
}

.home-detail h2{
    font-size: 32px;
}

.home-detail p{
    margin: 10px 0 20px;
}